@import '~bootstrap/scss/bootstrap';

// body { background-color: lightgreen }
h1 {
  margin-left: 30px;
  margin-top: 20px;
  // margin-bottom: 1px;
}

// @keyframes flash {
//   0% { background-color: pink; }
//   25% { background-color: yellow; }
//   50% { background-color: red; }
//   100% { background-color: blue; }
// }
.table {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  margin: 10px;
}

.cell {
  display: table-cell;
  vertical-align: middle;
}

form {
  display: inline-block;
  border: 10px solid black;
  width: 400px;
  padding: 10px;
  background: blue;
  margin: 10px;
}

ul {
  list-style-type: none;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.addPerson {
  margin-left: 42px;
  margin-right: 3px;
  margin-top: 40px;
}

.addExpenseClass {
  margin-left: 55px;
  margin-right: 50px;
  margin-top: 40px;
}

.addPayment-save {
  // margin-right: 50px;
  margin-top: 50px;
}

.addPerson,
.addExpenseClass,
.addPayment-save {
  // margin-top: 43px;
  float: left;
}

.formDiv {
  padding: 10px;
  margin: 10px;
  // margin-left: 60px;
}
// background-color: blue;
.person-show li,
.expense-show li {
  padding: 10px;
  border: 10px solid black;
  background-color: #bee1df;
}

#listPeople {
  max-height: 150px;
  min-height: 50px;
  width: 290px;
  border: 1px solid brown;
}

#listPeople2,
#listPeople3 {
  max-height: 150px;
  min-height: 50px;
  width: 250px;
  border: 1px solid brown;
}

body {
  background-color: lightgreen;
  animation-name: flash;
  animation-duration: 3s;
}

.btn {
  background: orange;
  width: 125px;
  height: 40px;
  margin-left: 20px;
  color: black;
  display: inline-block;
  text-align: center;
}

.buttons {
  background: purple;
  padding: 20px;
}

.change-btn {
  background: orange;
  width: 200px;
  height: 40px;
  margin-left: 20%;
  color: black;
  display: inline-block;
  text-align: center;
}

.person {
  padding: 2px;
}
